In [63]:
import pandas as pd
import math
data = pd.read_csv("../labeled/3.txt", delimiter=" ", header=None)
data

             0         1
0     0.021624  0.021971
1     0.021675  0.021960
2     0.021435  0.021621
3     0.021410  0.022199
4     0.021522  0.022833
...        ...       ...
1195  0.026870  0.023808
1196  0.027175  0.022604
1197  0.026535  0.022464
1198  0.027051  0.021423
1199  0.027611  0.020932

[1200 rows x 2 columns]

In [64]:
data.rename(columns={0:"pitch (π)", 1: "yaw (π)"}, inplace=True)
data["pitch (°)"] = data["pitch (π)"] * 180 / math.pi
data["yaw (°)"] = data["yaw (π)"] * 180 / math.pi
data["n"] = data.index
data["time"] = data.apply(lambda x: f"'{int(x['n']//20)}-{int(x['n']%20)}", axis=1) # figure out a smarter way of doing this than a temporary "n" column
data = data[["time", "pitch (°)", "yaw (°)"]] # figure out a smarter way of doing this by inserting at a location instead of rearranging
data

        time  pitch (°)   yaw (°)
0       '0-0   1.238992  1.258861
1       '0-1   1.241883  1.258230
2       '0-2   1.228125  1.238795
3       '0-3   1.226721  1.271914
4       '0-4   1.233109  1.308253
...      ...        ...       ...
1195  '59-15   1.539539  1.364089
1196  '59-16   1.557003  1.295139
1197  '59-17   1.520368  1.287110
1198  '59-18   1.549893  1.227424
1199  '59-19   1.582016  1.199288

[1200 rows x 3 columns]

In [65]:
data.to_csv("../labeled/3.csv")